
<ion-content>
  <div class="black">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="form">
      <ion-avatar>
        <img src='/assets/avataricon.png'/>
      </ion-avatar>
      <h3>Nome Usuário</h3>
      <p>Endereço</p>
      <p>Pontos de fidelidade</p>
      <p>Informações de contato</p>
        <p>Exibir nome no pedido
          <ion-checkbox slot="end"></ion-checkbox></p>
        <p>Notificações
          <ion-checkbox slot="end"></ion-checkbox></p>
        <p>Receber Mensagens
          <ion-checkbox slot="end"></ion-checkbox></p>
        <p class="endereco" (click)="presentAlert()">Sair</p>
        <ion-button color="warning" expand="block" (click)="presentToast('bottom')" routerLink="/tabs/home">Salvar</ion-button>
    </div>
  </div>
</ion-content>
