<ion-content>
  <div class="black">
    <ion-toolbar class="logo">
      <ion-avatar slot="end" [routerLink]="['/tabs/profile']">
        <img src='/assets/profile.png' />
      </ion-avatar>
    </ion-toolbar>
    <ion-label>Recomendados</ion-label>
    <ion-grid>
      <div class="slides01">
        <ion-slides [options]="slideOpts">
          <ion-slide>
            <img src="/assets/recomendados01.png" />
          </ion-slide>
          <ion-slide>
            <img src="/assets/recomendados01.png" />
          </ion-slide>
          <ion-slide>
            <img src="/assets/recomendados01.png" />
          </ion-slide>
          <ion-slide>
            <img src="/assets/recomendados01.png" />
          </ion-slide>
        </ion-slides>
      </div>
    </ion-grid>
    <ion-grid>
      <div class="slides02">
        <ion-slides [options]="slideOpts">
          <ion-slide>
            <img src="/assets/recomendados02.png" />
            <img src="/assets/recomendados02.png" />
            <img src="/assets/recomendados02.png" />
            <img src="/assets/recomendados02.png" />
          </ion-slide>
          <ion-slide>
            <img src="/assets/recomendados02.png" />
            <img src="/assets/recomendados02.png" />
            <img src="/assets/recomendados02.png" />
            <img src="/assets/recomendados02.png" />
          </ion-slide>
          <ion-slide>
            <img src="/assets/recomendados02.png" />
            <img src="/assets/recomendados02.png" />
            <img src="/assets/recomendados02.png" />
            <img src="/assets/recomendados02.png" />
          </ion-slide>
          <ion-slide>
            <img src="/assets/recomendados02.png" />
            <img src="/assets/recomendados02.png" />
            <img src="/assets/recomendados02.png" />
            <img src="/assets/recomendados02.png" />
          </ion-slide>
        </ion-slides>
      </div>
    </ion-grid>
    <ion-grid>
      <div class="destaque">
        <img src="/assets/bbq.png" />
        <img src="/assets/grillhouse.png" />
        <img src="/assets/roaster.png" />
        <img src="/assets/roaster.png" />
      </div>
    </ion-grid>
  </div>
</ion-content>