
<ion-content>
  <div class="black">
    <ion-toolbar class="logo">
      <ion-button (click)="sair()" color="danger" size="small">Sair</ion-button>
      <ion-avatar slot="end" [routerLink]="['/profile']">
        <img src='/assets/profile.png' />
      </ion-avatar>
    </ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>Início</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="profile" [routerLink]="['/profile']">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>